<nav
  class="py-4 px-20 border-b-[1px] border-gray-200 flex justify-between items-center"
>
  <div class="flex gap-2 items-center cursor-pointer">
    <!-- <app-bot></app-bot> -->
    <h5
      class="text-xl bg-gradient-to-r from-sky-700 to-green-400 text-transparent font-bold bg-clip-text header"
    >
      ESG Chatbot
    </h5>
  </div>

  <button (click)="logout()">
    <span class="material-symbols-outlined logout"> logout </span>
  </button>
</nav>

<main class="py-10 px-20 flex flex-col gap-10" (click)="closeFilter($event)">
  <div>
    <h2 class="text-3xl leading-loose text-gray-500 font-semibold">
      Dashboard
    </h2>
    <p *ngIf="documents" class="text-gray-500">
      Total documents: {{ documents.length }}
    </p>
  </div>

  <app-upload-form
    (refetchData)="refetchData($event)"
    [(q)]="q"
    [(filename)]="filename"
  ></app-upload-form>
  <div class="flex justify-end items-center">
    <form
      class="name px-3 py-1 w-[10%] h-8 rounded-3xl border-[1px] border-gray-400"
      *ngIf="filterName"
      (submit)="applyFilter(null, null)"
    >
      <input
        [(ngModel)]="filename"
        (input)="onChange()"
        name="name"
        type="text"
        class="name w-full text-sm text-gray-500 focus:outline-none"
      />
    </form>
    <span
      class="name material-symbols-outlined cursor-pointer"
      *ngIf="!filterName"
      (click)="filterName = true"
    >
      filter_list
    </span>
  </div>

  <table *ngIf="documents" mat-table [dataSource]="documents" class="w-full">
    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef>Filename</th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="download(element.filepath, element.filename)"
          class="hover:text-teal-600"
        >
          {{ element.filename }}
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>
        <div class="flex gap-1 items-center cursor-pointer">
          <span> Uploaded Date</span>

          <span
            class="material-symbols-outlined arrow"
            *ngIf="date_down"
            (click)="applyFilter('created_at', 'asc')"
          >
            arrow_downward_alt
          </span>
          <span
            class="material-symbols-outlined arrow"
            *ngIf="!date_down"
            (click)="applyFilter('created_at', 'desc')"
          >
            arrow_upward_alt
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.created_at | date : "dd MMMM YYYY" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="uploaded_by">
      <th mat-header-cell *matHeaderCellDef>Uploaded by</th>
      <td mat-cell *matCellDef="let element">
        {{ element.uploaded_by.email }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</main>
